.cards {
  display: grid;  /**FLEX**/
  flex-wrap: wrap;
  justify-content: space-between;
  width: 920px;
  grid-template-columns: 240px 240px 240px;
  margin: 0px auto;
  gap: 0px 100px;
  list-style-type: none;
  padding: 0px;
  text-decoration: none;
  }
