.khan__buy-link{
    margin: 0px;
    padding: 0px;
    color:cornflowerblue;
    text-decoration: none;
    font-size: 30px;
    font-weight: normal;
    line-height: 42px;
  }
  
  .khan__buy-link:hover {
    text-decoration: underline;
    opacity: 50%;
    transition: 2ms;
    }