.khan__book-pic{
    margin-right: 48px;
    width: 608px;
    height: 620px;
    object-fit: contain; /**изменил на вариант из комментария, хотя в брифе без этого свойства! хоть и некрасиво :) **/
    object-position: left;
    }
