.khan__book-pic{
    margin-right: 48px;
    width: 608px;
    height: 620px;
    object-fit: cover; /**сначала пробовал такие свойства, показалось что качество не меняется, буду знать, спасибо **/
    object-position: top;
}
